@import "normalize";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@import "common";
@import "styleguide";

.container {
  padding: 0 20px;
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    min-width: $tablet;
  }

  @media (min-width: $desktop) {
    max-width: $desktop;
  }
}

@media (min-width: $tablet) {
  .toggle-menu {
    display: none;
  }
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 12px;

  @media (min-width: $tablet) {
    flex-wrap: nowrap;
    padding-top: 54px;
  }
}

.page-header__nav {
  width: 100%;
  margin-top: 16px;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

.nav {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet) {
    text-align: right;
  }
}

.nav__item {
  border-top: 1px solid #E6E6E6;

  &:last-child {
    border-bottom: 1px solid #E6E6E6;
  }

  @media (min-width: $tablet) {
    display: inline-block;
    border: none;
    margin-left: 33px;

    &:last-child {
      border: none;
    }

    &_active {
      border-bottom: 2px solid #68B738;
    }
  }
}

.nav__link {
  display: block;
  padding: 22px;
  text-decoration: none;
  color: inherit;

  @media (min-width: $tablet) {
    padding: 0;
    padding-bottom: 8px;

  }
}