@import "normalize";

// fonts
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswald-v35-latin_cyrillic-regular.eot');
  src: local(''),
    url('../fonts/oswald-v35-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/oswald-v35-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/oswald-v35-latin_cyrillic-regular.woff') format('woff'),
    url('../fonts/oswald-v35-latin_cyrillic-regular.ttf') format('truetype'),
    url('../fonts/oswald-v35-latin_cyrillic-regular.svg#Oswald') format('svg');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/oswald-v35-latin_cyrillic-500.eot');
  src: local(''),
    url('../fonts/oswald-v35-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/oswald-v35-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/oswald-v35-latin_cyrillic-500.woff') format('woff'),
    url('../fonts/oswald-v35-latin_cyrillic-500.ttf') format('truetype'),
    url('../fonts/oswald-v35-latin_cyrillic-500.svg#Oswald') format('svg');
}

$arial: 'Arial',
sans-serif;

$oswald: 'Oswald',
'Arial',
sans-serif;

// border-box all
*,
*::before,
*::after {
  box-sizing: border-box;
}

// colors
$color-accent: #68B738;
$color-accent-hover: #5EAA2F;

// viewports
$mobile: 767px;
$tablet: 768px;
$desktop: 1200px;

@import "container";
@import "content-img";
@import "btn";
@import "visually-hidden";

@import "page";
@import "page-header";
@import "logo";
@import "nav";
@import "toggle-menu";
@import "program";