@import "normalize";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@import "common";
@import "styleguide";

.mobile-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}

.container {
  padding: 0 20px;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    max-width: $tablet;
  }

  @media (min-width: $desktop) {
    max-width: $desktop;
  }
}

.page-header__nav {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.page-header__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.page-header__nav-item {
  padding: 22px;
  border-top: 1px solid #E6E6E6;

  &:last-child {
    border-bottom: 1px solid #E6E6E6;
  }
}

.nav-list__link {
  text-decoration: none;
  color: inherit;
}