// colors
$color-accent: #68B738;
$color-accent-hover: #5EAA2F;

// viewports
$mobile: 767px;
$tablet: 768px;
$desktop: 1200px;

.logo[href]:hover,
.logo[href]:focus {
  opacity: 0.8;
  transition: 0.2s;
}

.logo[href]:active {
  opacity: 0.6;
}

.logo__desktop {
  display: block;
  width: 202px;
  height: 60px;
}

.logo__tablet {
  display: block;
  width: 174px;
  height: 52px;
}

.logo__mobile-pic {
  width: 34px;
  height: 38px;
}

.logo__mobile-text {
  width: 101px;
  height: 18px;
}

.toggle-menu {
  position: relative;
  width: 24px;
  height: 16px;
  background: transparent;
  border: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000000;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

}

.toggle-menu__center-line {
  position: absolute;
  left: 0;
  top: 7px;
  width: 100%;
  height: 2px;
  background: #000000;
  font-size: 0;
}

.btn {
  background-color: $color-accent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  &_mobile {
    font-size: 14px;
    line-height: 18px;
    padding: 8px 44px;
  }

  &_desktop {
    font-size: 20px;
    padding: 14px 26px;
    max-width: 244px;
    text-align: center;
  }

  &:hover,
  &:focus {
    background-color: $color-accent-hover;
    transition: 0.2s;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}